In [6]:
import os
import json
import datetime
from bson.objectid import ObjectId
from flask_pymongo import PyMongo
import pandas as pd
from flask import Flask,request,jsonify

In [7]:
app = Flask(__name__)
app.config['MONGO_URI'] = 'mongodb://localhost:27017/reviews_db'
mongo = PyMongo(app)

In [30]:
train_data = pd.DataFrame(list(mongo.db.train_data.find({})))

In [31]:
approved_train_data = train_data[train_data.state == 1][['text','state']]
approved_train_data.head(3)

                            text  state
2  me encanto el post, gracias!!      1
4  Muy buen post. Muchas gracias      1
5                     Excelente!      1

In [32]:
disapproved_train_data = train_data[train_data.state == 0][['text','state']]
disapproved_train_data.head(3)

                    text  state
0   que post de mierda!!      0
1  El peor post que lei.      0
3        hijos de puta!!      0

In [38]:
all_approved = pd.read_csv("./data/all_approved.csv")[['text','state']]
all_disapproved = pd.read_csv("./data/all_disapproved.csv")[['text','state']]

In [39]:
all_approved.head(3)

                                                text  state
0                                            Genial.      1
1  Todos los servicios de HDI son siempre eficien...      1
2  En caso de problemas, todas las indemnizacione...      1

In [45]:
all_approved.shape

(984, 2)

In [40]:
all_disapproved.head(3)

                                                text  state
0  Por teléfono no atiende nadie. Hice una denunc...    0.0
1  Cuánto me costaría pagar póliza de seguro de u...    0.0
2  En su relacion de marcas no se encuentra la ma...    0.0

In [46]:
all_disapproved.shape

(1036, 2)

In [47]:
all_approved_updated = all_approved.append(approved_train_data)
all_approved_updated.head(3)

                                                text  state
0                                            Genial.      1
1  Todos los servicios de HDI son siempre eficien...      1
2  En caso de problemas, todas las indemnizacione...      1

In [48]:
all_approved_updated.shape

(999, 2)

In [50]:
all_disapproved_updated = all_disapproved.append(disapproved_train_data)
all_disapproved_updated.head(3)

                                                text  state
0  Por teléfono no atiende nadie. Hice una denunc...    0.0
1  Cuánto me costaría pagar póliza de seguro de u...    0.0
2  En su relacion de marcas no se encuentra la ma...    0.0

In [51]:
all_disapproved_updated.shape

(1047, 2)

In [52]:
all_approved_updated.to_csv('./data/all_approved.csv', index=False)

In [53]:
all_disapproved_updated.to_csv('./data/all_disapproved.csv', index=False)